{% extends "ModeloBundle::layout.html.twig" %}
{% block content %}

    <!-- Cabecera -->
    <div class="row">       
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>

    <!-- Opciones ficha de Socio -->    
    <div class="row">                
        <div class="col-lg-12">
            <a href="{{path("familiar")}}">
                <button type="button" class="btn btn-success">Asociados</button> 
            </a>
            <a href="{{path("familiar_update",{"id":familiar.id})}}">
                <button type="button" class="btn btn-warning">Editar</button> 
            </a>
            <a href="{{path("familiar_delete",{"id":familiar.id})}}">
                <button type="button" class="btn btn-danger">Eliminar</button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-info">Imprimir</button>
            </a>            
            <hr/>
        </div>                
    </div>

    <!-- Ficha de Asociados Acordeon -->                    
    <div class="row">
        <div class="col-lg-12">
            <!--Collapsible Accordion Panel Group   -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ficha Asociado
                </div>
                <div class="panel-body">
                    <!-- Inicio Grupo Panel --> 
                    <div class="panel-group" id="accordion">
                        
                        <!-- Panel Datos Asociado   -->
                        <div class="panel panel-default">
                            
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Datos del asociado</a>
                                </h4>
                            </div>
                            
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="row">
                                        
                                        <div class="col-lg-12">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <img width="100" src="{{ asset("uploads/"~asociado.imagen) }}">
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Nombres</span>                     
                                                    <input type="text" class="form-control" value="{{asociado.nombres}}" disabled>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Apellidos</span>
                                                    <input type="text" class="form-control" value="{{asociado.apellidos}}" disabled>
                                                </li>                       
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Cedula</span>
                                                    <input type="text" class="form-control" value="{{asociado.cedula}}" disabled>
                                                </li> 
                                            </ul>
                                        </div>  
                                                
                                        <div class="col-lg-6">                          
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Fecha Nacimiento</span>
                                                    <input type="text" class="form-control" value="{{asociado.nacimiento | date('Y-m-d')}}" disabled>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Edad</span>
                                                    <input type="text" class="form-control" value="{{asociado.edad}}" disabled>
                                                </li>
                                            </ul>
                                        </div>  
                                                
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <!-- Fin Panel Datos Asociado   -->
                        
                        
                        <!-- Panel Registro   -->
                        <div class="panel panel-default">
                            
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Datos Registro</a>
                                </h4>
                            </div>
                            
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <div class="row">
                                                                               
                                        <div class="col-lg-6">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Fecha registro</span>                     
                                                    <input type="text" class="form-control" value="{{asociado.registro | date('Y-m-d')}}" disabled>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Fecha Actualizacion</span>
                                                    <input type="text" class="form-control" value="{{asociado.actualizacion | date('Y-m-d')}}" disabled>
                                                </li>                       
                                            </ul>
                                        </div>  
                                                
                                        <div class="col-lg-6">                          
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Numero Asociado</span>
                                                    <input type="text" class="form-control" value="{{asociado.numasociado}}" disabled>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Numero de Accion</span>
                                                    <input type="text" class="form-control" value="{{asociado.idsocio.accion}}" disabled>
                                                </li>
                                            </ul>
                                        </div>  
                                                
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <!-- Fin Panel Datos Asociado   -->                        
                        
                        <!-- Panel Datos Propietario Accion   -->                     
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Datos propietario accion</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Nombres</span>                     
                                                        <input type="text" class="form-control" value="{{asociado.idsocio.nombres}}" disabled>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Apellidos</span>                     
                                                        <input type="text" class="form-control" value="{{asociado.idsocio.apellidos}}" disabled>
                                                    </li>
                                                </ul>
                                            </div>    
                                            <div class="col-lg-6">                          
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Cedula</span>
                                                        <input type="text" class="form-control" value="{{asociado.idsocio.cedula}}" disabled>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Accion</span>                     
                                                        <input type="text" class="form-control" value="{{asociado.idsocio.accion}}" disabled>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>              
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Panel Propietario Accion   -->                        
                        

                        <!-- Panel Carnet   -->                     
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Carnet</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Fecha emision</span>
                                                        {% if asociado.emision == null %}
                                                            <input type="text" class="form-control" value="No Emitido" disabled>
                                                        {% else %}
                                                            <input type="text" class="form-control" value="{{asociado.emision | date('Y-m-d')}}" disabled>
                                                        {% endif %}   
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Fecha vencimiento</span>
                                                        {% if asociado.emision == null %}
                                                        <input type="text" class="form-control" value="No Emitido" disabled>    
                                                        {% else %}
                                                        <input type="text" class="form-control" value="{{asociado.vencimiento | date('Y-m-d')}}" disabled>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>    
                                            <div class="col-lg-6">                          
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Codigo Nuevo</span>
                                                        <input type="text" class="form-control" value="{{asociado.codigo}}" disabled>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="input-group-addon">Ingreso</span>                                                                            
                                                        {% if asociado.solvente %}
                                                            <input type="text" class="form-control" value="Permitido" disabled>
                                                        {% else %}
                                                            <input type="text" class="form-control" value="Suspendido" disabled>
                                                        {% endif %} 
                                                    </li>    
                                                </ul>
                                            </div>
                                        </div>              
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Panel Datos Juridicos   -->                       
                        
                        
                        <!-- Panel Datos Asociado   -->                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Familiares</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Fecha de Registro</span>                     
                                                    <input type="text" class="form-control" value="{{asociado.codigo}}" disabled>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Fecha Actualizacion</span>
                                                    <input type="text" class="form-control" value="{{asociado.codigo}}" disabled>
                                                </li>                       
                                            </ul>
                                        </div>    
                                        <div class="col-lg-6">                          
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Numero de Asociado</span>
                                                    <input type="text" class="form-control" value="{{asociado.codigo}}" disabled>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="input-group-addon">Numero de Accion</span>
                                                    <input type="text" class="form-control" value="{{asociado.codigo}}" disabled>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>              
                                </div>
                            </div>
                        </div>
                        <!-- Fin Panel Datos Asociado   -->
                                                             
                    </div>
                    <!--Fin Grupo Panel -->                              
                </div>                        
            </div>
        </div>
    </div>
                                            






    <div class="clearfix"></div>    
{% endblock %}