{% extends "ModeloBundle::layout.html.twig" %}
{% block content %}
    
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
        <!--End Page Header -->
    </div>
    
    <div class="row">
        <!-- Welcome -->
        <div class="col-lg-8 col-lg-offset-2">
            <hr/>
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}   
        </div>
        <!--end  Welcome -->
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <!--Area chart example -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Registro entrada y Salida               
                </div>

                <div class="panel-body">
                    <div class="row">
                        {{form_start(form,{ 'enctype':'multipart/form-data' })}}
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="input-group-addon">Codigo del Carnet</span>                     
                                    {{form_widget(form.codigo)}}
                                </li>
                            </ul>
                        </div>  
                        <div class="col-lg-2 col-lg-offset-5">         
                        {{form_widget(form.guardar)}}
                        </div>
                    {{form_end(form)}}
                    </div>
                </div>
            </div>
            <!--End area chart example -->
        </div>
    </div>
    
    <div class="clearfix"></div>    
{% endblock %}