{% extends "ModeloBundle::layout.html.twig" %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/emailtest.js') }}"></script>
{% endblock %}    

{% block content %}
    
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
        <!--End Page Header -->
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <!--Area chart example -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Agregar Usuario                
                </div>

                <div class="panel-body">
                    <div class="row">
                        {{form_start(form,{'action':'','method':'POST'})}}
                        <div class="col-lg-6 col-lg-offset-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="input-group-addon">Usuario</span>                     
                                    {{form_widget(form.nombre)}}
                                </li>
                                <li class="list-group-item">
                                    <span class="input-group-addon">Email</span>                     
                                    {{form_widget(form.email)}}
                                </li>
                                <li class="list-group-item">
                                    <span class="input-group-addon">Contraseña</span>                     
                                    {{form_widget(form.password)}}
                                </li>
                                <li class="list-group-item">
                                    <span class="input-group-addon">Perfil de usuario</span>
                                    {{form_widget(form.role)}}
                                </li> 
                                <li class="list-group-item">
                                    <span class="input-group-addon">Cedula del empleado</span>
                                    {{form_widget(form.idempleado)}}
                                </li>                       
                            </ul>
                        </div>    

                        <div class="col-lg-2 col-lg-offset-5">         
                        {{form_widget(form.guardar)}}
                        </div>
                    {{form_end(form)}}
                    </div>
                </div>
            </div>
            <!--End area chart example -->
        </div>
    </div>
    
    <div class="clearfix"></div>    
{% endblock %}
