{% extends "ModeloBundle::layout.html.twig" %}
{% block content %}
    
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
        <!--End Page Header -->
    </div>
    
    <div class="row">
                <!-- Welcome -->
        <div class="col-lg-12">
            <a href="{{path("socios")}}">
                    <button type="button" class="btn btn-success">Socios</button> 
            </a>
            <a href="{{path("socio_update",{"id":socio.id})}}">
                    <button type="button" class="btn btn-warning">Editar</button> 
            </a>
            <a href="{{path("socio_delete",{"id":socio.id})}}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
            </a>
            <a href="#">
                    <button type="button" class="btn btn-info">Imprimir</button>
            </a>            
            <hr/>
        </div>
                <!--end  Welcome -->
    </div>    
    <div class="row">
        <div class="col-lg-12">
            <!--Area chart example -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-book"></i>Ficha del Socio                    
                </div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-lg-12">
                        <img width="200" src="{{ asset("uploads/socios/"~socio.imagen) }}"
                    </div>
                    </div> 
                    <div class="col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="input-group-addon">Nombres</span>                     
                            <input type="text" class="form-control" value="{{socio.nombres}}" disabled>
                        </li>
                        <li class="list-group-item">
                            <span class="input-group-addon">Apellidos</span>
                            <input type="text" class="form-control" value="{{socio.apellidos}}" disabled>
                        </li>                       
                        <li class="list-group-item">
                            <span class="input-group-addon">Cedula</span>
                            <input type="text" class="form-control" value="{{socio.cedula}}" disabled>
                        </li>
                        <li class="list-group-item">
                            <span class="input-group-addon">Codigo Barras</span>
                            <input type="text" class="form-control" value="{{socio.codigo}}" disabled>
                        </li>
                        {% if socio.old != null %}
                        <li class="list-group-item">
                            <span class="input-group-addon">Codigo Barras Antiguo</span>
                            <input type="text" class="form-control" value="{{socio.old}}" disabled>
                        </li>
                        {% endif%}  
                    </ul>
                    </div>    
                    <div class="col-lg-6">                          
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="input-group-addon">Tipo de Socio</span>
                            <input type="text" class="form-control" value="{{socio.idtiposocio.nombre}}" disabled>
                        </li>
                        {% if socio.idtiposocio.id == 1 %}
                        <li class="list-group-item">
                            <span class="input-group-addon">Razon Social</span>
                            <input type="text" class="form-control" value="{{socio.razonSocial}}" disabled>
                        </li>
                        <li class="list-group-item">
                            <span class="input-group-addon">RIF</span>
                        <input type="text" class="form-control" value="{{socio.rif}}" disabled>
                        </li>
                        {% endif%}
                        <li class="list-group-item">
                            <span class="input-group-addon">Accion</span>
                        <input type="text" class="form-control" value="{{socio.accion}}" disabled>
                        </li>
                        <li class="list-group-item">
                            <span class="input-group-addon">Estado de Ingreso</span>
                            {% if socio.solvente %}
                                    <input type="text" class="form-control" value="Permitido" disabled>
                            {% else %}
                                    <input type="text" class="form-control" value="Suspendido" disabled>
                            {% endif %} 
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <!--End area chart example -->
        </div>
    </div>
    
    <div class="clearfix"></div>    
{% endblock %}